*{
    margin: 0;
    height: 0;
    border: 0;
}

.body{
    background: cornflowerblue;
}
.welcome{
    text-align: center;
    margin-top: 60px;
}
.africa{
    text-align: center;
    margin-top: 80px;
    color: #ddd; 
}
.watch{
    text-align: center;
    margin-top: 100px;
    color: red;
}
.countdown-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    background: #ddd;
    border: 1px solid #999;
 box-shadow: 0 0 5px 3px #ccc;
}
.info{
    font-size: 80px;
}
